#product-details {
  padding: 20px 0;
}

.product-details-top {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.product-details-top img {
  height: 220px;
}

.product-details-bottom {
  padding: 10px 20px 20px 20px;
}

.product-details-bottom h3 {
  color: #0caf1d;
  font-size: 20px;
}

.product-details-bottom h4,
p {
  color: #636363;
  font-size: 12px;
}

.product-details-bottom p {
  color: #636363;
  font-size: 12px;
  margin: 10px 0;
}

.category-container {
  display: flex;
}

.category {
  height: 30px;
  margin-right: 20px; /* para ficar aquele pequeno espaco entre as categorias*/
  background-color: #636363;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px;
  color: #ffffff;
}
