:root {
  /* para especificar variaveis usamos aqui no comeco o :root, é uma boa  */
  --dsc-color-bg-primary: #e8e8e8;
  --dsc-color-bg-secondary: #ffe500;
  --dsc-color-bg-tertiary: #636363;
  --dsc-color-bg-quaternary: #0caf1d;

  --dsc-color-card-bg: #fff;
  --dsc-color-card-border: #d9d9d9;

  --dsc-color-btn-primary: #3483fa;
  --dsc-color-btn-inverse: #fff;

  --dsc-color-font-primary: #636363;
  --dsc-color-font-secondary: #0caf1d;
  --dsc-color-font-tertiary: #fff;
  --dsc-color-font-placeholder: #d9d9d9;

  --dsc-color-error: #f33;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset; /* cor nao muda quando faz o hover do mouse em cima */
}

html,
body {
  background-color: var(--dsc-color-bg-primary);
  font-family: "Montserrat", sans-serif;
}

main {
  padding: 0 20px; /* ao redor da tela nas laterais é criado um espaço de 20px */
}

/* ------------------------*/
/* generic styles */

.dsc-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; /* centraliza o container*/
}

.dsc-mb20 {
  /* quando quiser uma margem bottom no card grandao */
  margin-bottom: 20px;
}

.dsc-mt20 {
  /* quando quiser uma margem top no card grandao*/
  margin-top: 20px;
}

.dsc-section-title {
  text-align: center;
  color: var(--dsc-color-font-primary);
  font-size: 16px;
}

.dsc-txt-left {
  text-align: left; /* alinha so o texto NOME do cabeçalho a esquerda left*/
}

@media (min-width: 576px) {
  .dsc-section-title {
    text-align: left; /* com tam tela 576px o titulo fica a esquerda e com tamanho 24px*/
    font-size: 24px;
  }
}

/* ------------------------*/
/* header styles */

header {
  display: flex;
  justify-content: center;
  justify-content: space-between;

  height: 70px;
  padding: 0 20px;
}

.dsc-header-client {
  background-color: var(--dsc-color-bg-secondary); /* header do cliente sera na cor amarelo o background */
  color: var(--dsc-color-bg-tertiary); /* para o cliente a cor do texto no header é cinza*/
}

.dsc-header-admin {
  background-color: var(--dsc-color-bg-quaternary); /* header do admin sera na cor verde o background */
  color: var(--dsc-color-font-tertiary); /* cor do texto branca para o header que é do cliente*/
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* coloca um texto em cada ponta*/
}

.dsc-nav-bar-right {
  display: flex;
  align-items: center;
}

.dsc-menu-items-container {
  display: flex;
}

.dsc-menu-items-container img {
  width: 20px;
  height: 20px;
}

.dsc-menu-item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.dsc-menu-item p {
  display: none; /* por padrao nao exibe o texto para mobile ... mas la no @media tem que exibir em formato tela maior*/
  margin-left: 5px; /* poe 5px entre o texto e a imagem do header*/
  font-size: 14px;
}

.dsc-menu-item-active {
  font-weight: 700;
}

nav h1 {
  font-size: 16px;
  font-weight: 700;
}

nav a {
  font-size: 14px;
  font-weight: 700;
}

.dsc-logged-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* alinha os itens a direita, nesse caso os textos a direita*/
}

.dsc-logged-user p {
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 576px) {
  nav h1 {
    font-size: 24px;
  }

  .dsc-menu-item p {
  display: unset; /* dica! colocar UNSET para quando quiser desarmar, ou seja voltar a exibir o que tava display none no padrao*/
  }
}

/* ------------------------*/
/* card styles */

.dsc-card {
  background-color: var(--dsc-color-card-bg);
  border-radius: 4px;
  border: 1px solid var(--dsc-color-card-border);
}

.dsc-line-bottom {
  border-bottom: 1px solid var(--dsc-color-card-border);
}

/* ------------------------*/
/* button styles */

.dsc-btn-page-container {
  width: 100%;
  display: grid; /* grid é bom pra criar um container com espaco pequeno entre eles*/
  grid-gap: 20px; /* grid gap complementando o display grid */
}

@media (min-width: 576px) {
  /* quando começamos a fazer mobile first, sempre usamos o min-width, a partir dessa largura quero outro comportamento */
  .dsc-btn-page-container {
    /* a partir da largura da tela em 576px eu quero que o meu container de botao seja da largura 220px */
    width: 220px;
  }
}

.dsc-btn {
  width: 100%;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dsc-color-card-bg);
  text-align: center;
}

.dsc-btn-blue {
  border: none;
  background-color: var(--dsc-color-btn-primary);
  color: var(--dsc-color-card-bg);
}

.dsc-btn-white {
  background-color: var(--dsc-color-card-bg);
  color: var(--dsc-color-btn-primary);
  border: 1px solid var(--dsc-color-btn-primary);
}

.dsc-btn-next-page {
  border: 1px solid var(--dsc-color-btn-primary);
  padding: 10px;
  border-radius: 4px;
  color: var(--dsc-color-btn-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer; /* para ficar a MAOZINHA quando passa o mouse em cima*/
}

/* ------------------------*/
/* search bar styles */

.dsc-search-bar {
  height: 40px;
  display: flex;
  color: var(--dsc-color-font-primary);
}

.dsc-search-bar button,
.dsc-search-bar input {
  border: 1px solid var(--dsc-color-card-border);
}

.dsc-search-bar input {
  width: calc(100% - 80px); /* 80px são os dois button somandos */
  border-right: none;
  border-left: none;
  padding: 0 10px;
  font-size: 16px;
  color: var(--dsc-color-font-primary);
}

.dsc-search-bar input:focus {
  outline: none; /* focus é quando o mouse passa nele */ /* outline none é pra tirar o rachurado quando passa o mouse em cima*/
}

.dsc-search-bar input::placeholder {
  color: var(--dsc-color-font-placeholder);
}

.dsc-search-bar button {
  width: 40px;
  color: var(--dsc-color-font-primary);
}

.dsc-search-bar button[type="submit"] {
  /* button que esta dentro do dsc-search-bar e é do tipo submit */
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.dsc-search-bar button[type="reset"] {
  /* button que esta dentro do dsc-search-bar e é do tipo reset */
  border-left: none;
  border-radius: 0 4px 4px 0;
}

/* ------------------------*/
/* form styles */

.dsc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.dsc-form h2 {
  font-size: 16px;
  color: var(--dsc-color-font-primary);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center; /* alinhar o texto ao centro*/
}

.dsc-form-controls-container {
  /* colocar os 2 inputs em GRID */
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
  width: 100%;
}

.dsc-form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  color: var(--dsc-color-font-primary);
  border-radius: 4px;
  border: 1px solid var(--dsc-color-card-border);
}

.dsc-form-control:focus {
  outline: none; /* tira a marcação quando encosta o mouse*/
}

.dsc-form-control::placeholder {
  color: var(--dsc-color-font-placeholder);
}

.dsc-input-error {
  border: 1px solid var(--dsc-color-error);
}

.dsc-form-error {
  color: var(--dsc-color-error);
  font-size: 12px;
  padding-left: 4px;
}

@media (min-width: 576px) {
  .dsc-form h2 {
    font-size: 24px;
  }
}

.dsc-select:invalid {
  color: var(--dsc-color-font-placeholder);
}

.dsc-select option[disabled] {
  display: none;
}

.dsc-select option {
  color: var(--dsc-color-font-primary);
}

.dsc-textarea {
  resize: none; /* nao deixa expandir a caixa do textarea, ela fica sempre do mesmo tamanho */
  height: 128px;
  padding-top: 10px;
}

/* ------------------------*/
/* table styles */

.dsc-table {
  width: 100%;
  border-spacing: 0; /* retira o espacamento entre as bordas da tabela*/
  border-collapse: collapse; /* vai permitir colocar uma linha entre uma tabela e outra tabela*/
}

.dsc-table thead {
  height: 55px;
  width: 280px;
  font-size: 14px;
  color: var(--dsc-color-font-primary);
  background-color: var(--dsc-color-card-bg);
}

.dsc-table tbody {
  text-align: center;
  font-size: 12px;
  color: var(--dsc-color-font-primary);
  background-color: var(--dsc-color-card-bg);
}

.dsc-table tbody tr {
  height: 70px; /* nao precisava mas so por boa medida sao os 69px da imagem + 1px da borda top*/
  border-top: 1px solid var(--dsc-color-card-border);
}

.dsc-table th:nth-child(2) {
  border-top-left-radius: 10px; /* arreronda a borda do segundo th*/
}

.dsc-table th:last-child {
  border-top-right-radius: 10px; /* arreronda a borda do segundo th*/
}

.dsc-table td:nth-child(2) {
  padding-left: 10px;
}

.dsc-table td:last-child {
  padding-right: 5px;
}

.dsc-tb576 {
  display: none; /* com essa classe no ID e Preco, esses campos não serão mostrados quando a tela for menor que 576px*/
}

.dsc-tb768 {
  display: none;
}

@media (min-width: 576px) {
  .dsc-tb576 {
    display: table-cell; /* com essa classe no ID e Preco, esses campos não serão mostrados quando a tela for menor que 576px*/
  }

  .dsc-table th:nth-child(1) {
    padding-left: 20px;
    border-top-left-radius: 10px; /* arredonda a borda de cima esquerda do primeiro th qd a tela esta 576px*/
  }

  .dsc-table th:nth-child(2) {
    border-top-left-radius: 0; /* arreronda a borda do segundo th*/
  }

  .dsc-table td:nth-child(1) {
    padding-left: 20px;
  }

  .dsc-table td:nth-child(2) {
    padding-left: 0;
    border-radius: 10px 0 0 0;
  }
}

@media (min-width: 768px) {
  .dsc-tb768 {
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .dsc-table tbody {
    font-size: 16px; /* aumenta fonte para 16px quando a tela tem tam 992px */
  }
}
