* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset; /* cor nao muda quando faz o hover do mouse em cima */
}

html,
body {
  background-color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: #ffe500;
  height: 70px;
}

nav {
  color: #636363;
  display: flex;
  align-items: center;
  justify-content: space-between; /* coloca um texto em cada ponta*/
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; /* centraliza o container*/
}

#product-details {
  padding: 20px 0;
}

.card {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.card-top {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
}

.card-top img {
  height: 220px;
}

.card-bottom {
  padding: 10px 20px 20px 20px;
}

.card-bottom h3 {
  color: #0caf1d;
  font-size: 20px;
}

.card-bottom h4,
p {
  color: #636363;
  font-size: 12px;
}

.card-bottom p {
  color: #636363;
  font-size: 12px;
  margin: 10px 0;
}


.category-container {
    display: flex;
}

.category {
    height: 30px;
    margin-right: 20px; /* para ficar aquele pequeno espaco entre as categorias*/
    background-color: #636363;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px;
    color: #FFFFFF;
}

.btn-page-container {
    width: 220px;
    display: grid; /* grid é bom pra criar um container com espaco pequeno entre eles*/
    grid-gap: 20px /* grid gap complementando o display grid */
}

.btn {
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    text-align: center;
}

.btn-blue {
    background-color: #3483FA;
    color: #FFFFFF;
}

.btn-white {
    background-color: #FFFFFF;
    color: #3483FA;
    border: 1px solid #3483FA;
}

.mb20 { /* quando quiser uma margem bottom coloco esse estilo aqui margin bottom 20px*/
    margin-bottom: 20px;
}
