* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset; /* cor nao muda quando faz o hover do mouse em cima */
}

html,
body {
  background-color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: #ffe500;
  height: 70px;
}

nav {
  color: #636363;
  display: flex;
  align-items: center;
  justify-content: space-between; /* coloca um texto em cada ponta*/
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; /* centraliza o container*/
}

.card {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.line-bottom {
  border-bottom: 1px solid #d9d9d9;
}

.btn-page-container {
  width: 220px;
  display: grid; /* grid é bom pra criar um container com espaco pequeno entre eles*/
  grid-gap: 20px; /* grid gap complementando o display grid */
}

.btn {
  font-size: 16px;
  font-weight: bold;
  height: 42px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
}

.btn-blue {
  background-color: #3483fa;
  color: #ffffff;
}

.btn-white {
  background-color: #ffffff;
  color: #3483fa;
  border: 1px solid #3483fa;
}

.mb20 {
  /* quando quiser uma margem bottom coloco esse estilo aqui margin bottom 20px*/
  margin-bottom: 20px;
}
